html {
    max-width: 70ch;
    padding: 3em 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.25em;
    font-family: system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 3em 0 1em;
}

p, ul, ol {
    margin-bottom: 2em;
    color: #1d1d1d;
    font-family: sans-serif;
}

/** Light mode by default **/
body {
    color: #333;
    background: #FFF;
}
a {
    color: #0033cc;
}
/** Dark mode depending on OS setting **/
@media (prefers-color-scheme: dark) {
    body {
        color: #eee;
        background: #333;
    }
    a {
        color: #7a9bff;
    }
    p, ul, ol {
        color: #eee;
    }
}